*.bundle
*.o
*.so
*.swp
/pkg
Makefile
lib/racc/grammar_file_scanner.rb
lib/racc/parser-text.rb
tags
tmp
target
lib/racc/cparse-jruby.jar
racc.gemspec
TAGS

# For Bundler
.bundle
Gemfile.lock
Gemfile.local
