. file index.html --------------------------------------------------
<% header 'Racc User Manual' %>

<h1>Racc User Manual</h1>

<p>
updated for version 0.14

<ul>
<li><a href="usage.html">Usage</a>
<li><a href="command.html">racc Command Reference</a>
<li><a href="grammer.html">Racc Grammer Reference</a>
<li><a href="debug.html">For Debug</a>
<li><a href="changes.html">Change Log</a>
</ul>

<% footer 1999 %>
. file usage.html ---------------------------------------------------
<% header 'Usage' %>

<h1>Usage</a>

<hr>

<h2>Compiling racc grammer file</h2>

<p>
To compile racc grammer file, simply type:
<pre>

  $ racc parse.y

</pre>
This create ruby script file "parse.tab.y". -o option changes this.


<h2>Creating Parser with Racc</h2>

<p>
If you want your own parser, you have to write grammer file.
A grammer file contains name of parser class, grammer the parser can parse,
user code, and any.<br>
When writing grammer file, yacc's knowledge is helpful.
If you have not use yacc, also racc is too difficult.

<p>
Here's example of Racc grammer file.
<pre>

class Calcparser

rule
  target: exp { print val[0] }

  exp: exp '+' exp
     | exp '*' exp
     | '(' exp ')'
     | NUMBER
end

</pre>
Racc grammer file is resembles to yacc file.
But (of cource), action is Ruby code. yacc's $$ is 'result', $0, $1... is
an array 'val', $-1, $-2... is an array '_values'.

<p>
yylex() is method "next_token()".
This method must returns an array like [TOKENSIMBOL, ITS_VALUE].
EOF is [false, false].
(token simbol is ruby simbol (got by String#intern) as default.
 If you want to change this, see <a href="grammer#token">grammer reference</a>.

<p>
yyparse() is method "do_parse()".

<p>
When debug, "-v" or/and "-g" option is helpful.<br>
"-v" causes creating verbose output file (.output).<br>
"-g" causes creating "Verbose Parser".
Verbose Parser prints internal status when parsing.
But, attention please! it is <em>not</em> automatic.
You must use -g option and be @yydebug true to get output.
-g option only create verbose parser.


<h3>re-distributing Racc runtime</h3>

<p>
A parser, which is created by Racc, requires Racc runtime.
You should re-distribute Racc runtime with your parser, or
users need to install Racc.

<p>
A Ruby script "rtpack.rb" helps you to include Racc runtime
into your own package. Usage of pack.rb is:
<pre>

  /usr/src/racc-xxx/ $ ruby pack.rb TARGET/

</pre>
This copies Racc runtime under directory TARGET/ .
(attention: pack.rb will clears TARGET/)

<p>
And the way to install Racc runtime when your installation is:
<pre>

  cd TARGET/
  ruby setup.rb

</pre>

<% footer 1999 %>
. file command.html ------------------------------------------------------
<% header 'Racc Command' %>

<h1>racc command reference</h1>

<hr>

<p align=justify>
  racc.rb [-vgE] [--version] [--help] [-o<var>outfile</var>] [-e<var>path</var>]
    [-n<var>classname</var>] [-h<var>header</var>] [-i<var>inner</var>]
    [-f<var>footer</var>] <var>filename</var>
</p>

<dl>
<dt><var>filename</var>
<dd>
racc file. Any extention is permitted.

<dt>-o<var>outfile</var>
<dd>
A filename for output. default is <filename>.tab.rb

<dt>-e<var>path</var>
<dd>
output executable file(mode 755). <var>path</var> is a path of ruby interpreter.

<dt>-v
<dd>
verbose mode. create "filename".output file, like y.output file.

<dt>-g
<dd>
add debug code to parser class. To display debuggin information,
use this '-g' option and set @yydebug true in parser class.

<dt>-E
<dd>
output parser file which doesn't need runtime files(ex. racc/parser).
A file created by this option working with only ruby.

<dt>-n<var>classname</var>
<dd>
designate name of parser class. This option overwrite racc file's.

<dt>-h<var>header</var>
<dd>
designate filename of 'header' user code.

<dt>-i<var>inner</var>
<dd>
designate filename of 'inner' user code.

<dt>-f<var>footer</var>
<dd>
designate filename of 'footer' user code.

<dt>--version
<dd>
print Racc version and quit.

<dt>--help
<dd>
print usage.

</dl>

<% footer 1999 %>
. file grammer.html --------------------------------------------------
<% header 'Grammer Reference' %>

<h1>Racc grammer reference</h1>

<hr>

<p>
This is temporary specification.


<h2><a name="whole">global structure</a></h2>

<h3><a name="blocks">blocks in file</a></h3>
<p>
There's two block on toplevel.
one is 'class' block, another is 'user code' block. 'user code' block MUST
places after 'class' block.


<h3><a name="comment">comment</a></h3>

<p>
You can insert comment about all places. Two style comment can be used,
Ruby style (#.....) and C style (/*......*/) .


<h2><a name="class">class block</a></h2>

<p>
class block is like this:
<pre>

    class <var>class_name</var>
      [<var>precedance</var>]
      [<var>start</var>]
      [<var>token</var>]
    rule
      <var>RULES</var>
    end

</pre>
<var>class_name</var> is a name of parser class.
This is equal to name of generating parser class.


<h3><a name="grammer">rule block</a></h3>

<p>
'rule block' discripts grammer which is able to be understood by parser.
For example:
<pre>

   (token): (token) (token) (token).... (action) ;

   (token): (token) (token) (token).... (action)
          | (token) (token) (token).... (action)
          | (token) (token) (token).... (action)

</pre>
(action) is an action which is executed when its (token)s are found.
(action) is like this:
<pre>

        { print val[0]
          puts val[1] }

</pre>
In (action), you cannot use '%' string, here document, '%r' regexp.
Actions can be omitted. When it is omitted, ''(empty string) is used.

<p>
A return value of action is a value of left side value ($$).
It is value of result, or returned value by "return" statement.

<p>
Then, here's a sample of whole 'rule block'.
<pre>

rule
  goal: definition ruls source { result = val }

  definition: /* none */   { result = [] }
    | definition startdesig  { result[0] = val[1] }
    | definition
             precrule   # this line continue from upper line
      {
        result[1] = val[1]
      }

  startdesig: START TOKEN

end

</pre>
You can use these spetial local variables in action.
<dl>
<dt>result ($$)
<dd>
value of left-hand side (lhs). A default value is val[0].

<dt>val ($1,$2,$3...)
<dd>
an array of value of right-hand side (rhs).

<dt>_values (...$-2,$-1,$0)
<dd>
a stack of values

</dl>



<h3><a name="prec">Operator precedance</a></h3>

<p>
This function is equal to '%prec' in yacc.
To designate this block:
<pre>

    prechigh
      nonassoc '++'
      left     '*' '/'
      left     '+' '-'
      right    '='
    preclow

</pre>
'right' is '%right', 'left' is '%left'. While this example is written
'prechigh' upper and 'preclow' lower, but another format 'preclow...prechigh'
is also premitted.

<p>
'%prec' can be used. format is like this:
<pre>

  prechigh
    nonassoc UMINUS
    left '*' '/'
    left '+' '-'
  preclow

  rule
    exp: exp '*' exp
       | exp '-' exp
       | '-' exp       = UMINUS   # this!!!
           :

</pre>


<h3><a name="start">start statement</a></h3>

<p>
'%start' in yacc. This changes start rule.
<pre>

      start real_target

</pre>

<p>
this statement won't be used forever, I think.


<h3><a name="token">Convert Token Simbol</a></h3>

<p>
token simbol is, as default,
<dl>
<dt>naked token string in racc file (TOK, XFILE, this_is_token, ...)
<dd>simbol of it (:TOK, :XFILE, :this_is_token, ...)
<dt>quoted string (':', '.', '(', ...)
<dd>same string (':', '.', '(', ...)
</dl>

<p>
You can change this by 'token' block. This is example:
<pre>

    token
      PLUS 'PlusClass'      # not use :PLUS but PlusClass
      MIN  'MinusClass'     # not use :MIN but MinusClass
    end

</pre>
Almost all ruby value can be used by token simbol,
but 'false' and 'nil' are NOT. These are causes unexpected parse error.

<p>
If you want to use String as token simbol, special care is required.
For example:
<pre>

    token
      class '"cls"'            # in code, "cls"
      PLUS '"plus\n"'          # in code, "plus\n"
      MIN  "\"minus#{val}\""   # in code, \"minus#{val}\"
    end

</pre>
These are <em>not BUG, but FEATURE</em>.


<h2><a name="usercode">User Code</a></h2>

<p>
'user block' is Ruby source code which is copied to output.
In <a href="command.html">racc command</a>, Three spetial user code
'header' 'inner' 'footer' are used.<br>
Until version 0.10.2, they are called prepare/inner/driver.
It is also OK, but they will be eliminated in future.

<p>
format of user code is like this:
<pre>

---- header
  ruby statement
  ruby statement
  ruby statement

---- inner
  ruby statement
     :

</pre>
If 4 '-' exist on line head, racc treat it as beginning of user code.
A name of user code must be one word.

<p>
You can include other file as user code like this:
<pre>

---- footer = init.rb run.rb

print "these code is used as driver, too!!"

</pre>
This statement makes racc to use "init.rb" "run.rb" as 'footer' user code.

<% footer 1999 %>
. file debug.html --------------------------------------------------
<% header 'Debug' %>

<h1>For debug</h1>

<h2>when parse error</h2>

<ul>
<li>Isn't there too many "end" ? grammer of racc file is changed in v0.10.
</ul>

<h2>when parsing</h2>

<ul>
<li>Does your parser have method "next_token" ?
<li>"next_token" returns Array of simbol and its value.
<li>When there is no token, "next_token" must returns [false, (ANY)].
<li>now "next_value" "peep_token" is not used.
<li>Were all terminal tokens listed corectry in ".output" file ?
    (and also nonterminal?)
</ul>

<% footer 1999 %>
. file changes.html --------------------------------------------------
<% header 'Changes' %>

<h1>Change Log</h1>

<hr>
<h2>0.14.6(2000/05/05)</h2>
<p>
<ul>
<li>much more debug output
</ul>

<h2>0.14.5(2000/05/01)</h2>
<p>
<ul>
<li>modify installer for ruby 1.4.4 or upper 1.5
    (thanks rubykitch, Toshiro Kuwabara(Tosh))
</ul>

<h2>0.14.4(2000/04/09)</h2>
<p>
<ul>
<li>Racc_* are included in Racc_arg
<li>faster state generation (a little)
</ul>

<h2>0.14.3(2000/04/04)</h2>
<p>
<ul>
<li>check both of SYM2ID and ID2SYM (thanks Katsuyuki Komatsu)
</ul>

<h2>0.14.2(2000/04/02)</h2>
<p>
<ul>
<li>"class" on first line causes parse error (thanks Yoshiki Wada)
<li>new option "racc -V"
</ul>

<h2>0.14.1(2000/03/31)</h2>
<p>
<ul>
<li>if ruby path was given, change also ruby path for "system" call
    (thanks Toshiro Kuwabara(Tosh))
</ul>

<h2>0.14.0(2000/03/21)</h2>
<p>
<ul>
<li>implement "fast" table (same to bison)
<li>stop line no. conversion temporaliry because of ruby bug
</ul>

<hr>
<h2>0.13.1(2000/03/21)</h2>
<p>
<ul>
<li>racc --version --copyright did not work (thanks Tadayoshi Funaba)
</ul>

<h2>0.13.0(2000/03/120)</h2>
<p>
<ul>
<li>implement yyerror/yyerrok/yyaccept
</ul>

<hr>
<h2>0.12.2(2000/03/19)</h2>
<p>
<ul>
<li>-E flag had bug
</ul>

<h2>0.12.1(2000/03/16)</h2>
<p>
<ul>
<li>modify the way to decide default action
</ul>

<hr>
<h2>0.12.0(2000/03/15)</h2>
<p>
<ul>
<li>implement real LALR
<li>use both SLR and LALR to resolve conflicts
</ul>

<hr>
<h2>0.11.3(2000/03/09)</h2>
<p>
<ul>
<li>modify lookahead routine again
</ul>

<h2>0.11.2(2000/03/09)</h2>
<p>
<ul>
<li>bug in lookahead routine
<li>modify cparse.so for Symbol class of ruby 1.5
</ul>

<h2>0.11.1(2000/03/08)</h2>
<p>
<ul>
<li>modify for Symbol
<li>update strscan
</ul>

<h2>0.11.0(2000/02/19)</h2>
<p>
<ul>
<li>if error is occured in action, ruby print line number of grammer file
</ul>

<hr>
<h2>0.10.9 (2000/01/19)</h2>
<p>
<ul>
<li>change package/setup
</ul>

<h2>0.10.8 (2000/01/03)</h2>
<p>
<ul>
<li>?
<li>(1/17 re-packed) add/modify documents
</ul>

<h2>0.10.7 (2000/01/03)</h2>
<p>
thanks: Koji Arai
<ul>
<li>modify setup.rb compile.rb amstd/inst
</ul>

<h2>0.10.6 (1999/12/24)</h2>
<p>
<ul>
<li>racc -e ruby
<li>omit void action call
</ul>

<h2>0.10.5 (1999/12/21)</h2>
<p>
thanks: Toshiro Kuwabara (Tosh)
<ul>
<li>critical bug in embedded action implement
<li>bug in setup.rb
<li>modify calc[2].y for 0.10
</ul>

<h2>0.10.4 (1999/12/19)</h2>
<p>
<ul>
<li>support error recover ('error' token)
<li>can embed runtime by "racc -E"
<li>Racc is module
</ul>

<h2>0.10.3 (1999/12/01)</h2>
<p>
<ul>
<li>support embedded action
<li>modify .output bug
</ul>

<h2>0.10.2 (1999/11/27)</h2>
<p>
<ul>
<li>update document
<li>separate libracc.rb
</ul>

<h2>0.10.1 (1999/11/19)</h2>
<p>
<ul>
<li>rewrite runtime routine in C
<li>once next_token returns [false, *], not call next_token
<li>action is only default, not call next_token
<li>$end is obsolute
<li>LALRactionTable
</ul>

<h2>0.10.0 (1999/11/06)</h2>
<p>
<ul>
<li>next_value, peep_token is obsolute
<li>@__debug__ -&gt; @yydebug
<li>class...rule...end
<li>refine libracc.rb
<li>unify strscan library
<li>*.rb are installed in lib/ruby/VERSION/racc/
</ul>

<hr>

<h2>0.9.5 (1999/10/03)</h2>
<p>
<ul>
<li>too few arguments for __show_stack__
<li>could not scan $end
<li>typo in d.format.rb
</ul>

<h2>0.9.1 (1999/06/08)</h2>
<h2>0.9.0 (1999/06/03)</h2>
<h2>0.8.11 (?)</h2>
<h2>0.8.10 (?)</h2>
<h2>0.8.9 (1999/03/21)</h2>
<h2>0.8.8 (1999/03/20)</h2>
<h2>0.8.7 (1999/03/01)</h2>
<h2>0.8.0 (1999/01/16)</h2>
<h2>0.5.0 (1999/01/07)</h2>
<h2>0.1.0 (1999/01/01)</h2>

<% footer 1999 %>
